*	{
	box-sizing: border-box;
}


body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: "Roboto", "Arial", sans-serif;
	letter-spacing: 0.5px;
}

*:focus	{
	outline: 2px solid #ff7500;
	outline-offset: 3px;
}

/* CONTAINER */

.container	{
	width: 100%;
	max-width: 1140px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}


/* SITE-HEADER */
.site-header	{
	padding-top: 16px;
	padding-bottom: 16px;
	border-top: 5px solid #ff7500;
	background-color: #fff;
}


.site-header-container	{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-link	{
	transition: opacity 0.4s ease;
}

.logo-link:hover	{
	opacity: 0.8;
}

.logo-link:active	{
	opacity: 0.6;
}

.logo-link img	{
	display: block;
}

.site-header-actions	{
	display: flex;
	align-items: center;
}

/* SITENAV */
.sitenav-list	{
	display: flex;
	padding: 0;
	margin: 0;
	margin-right: 32px;
	list-style: none;
}

.sitenav-item	{
	margin-right: 32px;
}

.sitenav-item:last-child	{
	margin-right: 0;
}

.sitenav-link	{
	font-size: 13px;
	line-height: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	transition: color 0.4s ease,
	opacity 0,6s ease;
}

.sitenav-link:hover	{
	color: #ff7500;
}

.sitenav-link:active	{
	opacity: 0.6;
}

/* MAIN-LINK */
.main-link	{
	display: inline-block;
	padding: 12px 24px ;
	border-radius: 4px;
	font-family: "Roboto", "Arial", sans-serif;
 font-size: 13px;
 line-height: 15px;
 font-weight: bold;
 background-color: #ff7500;
 color: #fff;
 text-decoration: none;
transition: opacity 0.4s ease;
}

.main-link:hover	{
	opacity: 0.8;
}

.main-link:active	{
	opacity: 0.6;
}


/* HERO */
.hero	{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #252420;
	color: #fff;
}

.hero-container	{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-content	{
	width: 390px;
}

.orange-line	{
	width: 80px;
	height: 3px;
	border: none;
	margin: 0;
	margin-top: 210px;
	margin-bottom: 40px;
	background-color: #ff7500;
}

.hero-heading	{
	margin-top: 0;
	margin-bottom: 24px;
	color: #fff;
	font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
	width: 339px;
	font-size: 40px;
	font-style: 40px;
	line-height: 1.2;
}

.hero-text	{
	margin-top: 0;
	margin-bottom: 32px;
}

.hero-img	{
width: 510px;
height: 510px;
border-radius: 8px;
/* box-shadow: 24px 24px 0px 0px rgba(255, 117, 0, 0.60); */
}

.features-list {
display: flex;
padding: 0;
margin: 0;
list-style: none ;
}

/* FEATURES */
.features-heading	{
padding-top: 210px;
padding-bottom: 210px;
}

.features-heading	{
	margin-top: 0;
	margin-bottom: 72px;
	font-family: "Roboto", "Arial", sans-serif;
	width: 435px;
	height: 172px;
	width: 440px;
	font-size: 72px;
	line-height: 1.2;
}


.feature {
width: 340px;
margin-right: 40px;
}

.feature:last-child	{
	margin-right: 0;
}

.feature-icon-wrapper	{
display: flex;
justify-content: center;
align-items: center;
	width: 100px;
	height: 100px;
	margin-bottom: 32px;
	border-radius: 50%;
	 background-color: rgba(255, 117, 0, 0.2);
}

.feature-title	{
	margin-top: 0;
	margin-bottom: 12px;
	columns: #000;
	font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
	width: 214px;
	font-size: 24px;
	line-height: 1.2;
}

.feature-info	{
	margin: 0;
}

/* PROMO */
.promo	{
	padding-top: 120px;
	padding-bottom: 60px;
}

.promo-inner	{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 64px;
	border-radius: 12px;
	background-color: #252420;
	color: #fff;
}

.promo-content	{
	width: 440px;
}

.promo-heading	{
	margin-top: 0;
	 margin-bottom: 24px;
	font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
	width: 373px;
	color: #fff;
	font-size: 40px;
	line-height: 48px;
}

.promo-info-wrapper	{
	margin-bottom: 24px;
}

.promo-text	{
	margin-top: 0;
	margin-bottom: 12px;
}

.promo-text:last-child	{
	margin-bottom: 0;
}

.promo-hightlight	{
	width: 440px;
	font-family: "Roboto", "Arial", sans-serif;
	color: #ff7500;
}

.promo-img	{
	width: 440px;
	height: 440px;
	border-radius: 12px;
	object-fit: cover;
}

/* SITE-FOOTER */
.site-footer	{
	padding-top: 56px;
	padding-bottom: 56px;
	background-color: #f8f8f8;
}

.site-footer-top	{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-footer	ul {
	margin: 16px;
	list-style: none;
	padding: 0;
}

.site-footer-socials	{
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}

.site-footer-socials li	{
margin-right: 16px;
}

.site-footer-socials li:last-child	{
	margin-right: 0;
}

.site-footer-socials a	{
	display: block;
	color: #252420;
}

.site-footer-socials a:hover	{
	color: #ff7500;
}

.site-footer-socials a:active	{
	opacity: 0.6;
}

.site-footer-socials svg	{
display: block;
}


.site-footer-divider	{
	height: 2px;
	border: 0;
	margin-top: 40px;
	margin-bottom: 64px;
	background-color: rgba(37, 36, 32, 0.5)
}

.site-footer-bottom	{
	display: flex;

}

.site-footer-links	{
	width: 224px;
	padding: 0;
	margin: 0;
	margin-right: 68px;
	list-style: none;
	line-height: 19px;
}

.site-footer-links:last-child	{
	margin-right: 0;
}

.site-footer-links li	{
	margin-bottom: 16px;
}

.site-footer-links li:last-child	{
margin-bottom: 0;
}

.site-footer-links	a {
	font-family: "Roboto", "Arial", sans-serif;
	width: 224px;
	line-height: 19px;
text-decoration: none;
color: #252420;
}

.site-footer-logo	{
	list-style: none;
}

.site-footer-links	a:hover	{
	color: #ff7500;
}

.site-footer-links	a:active {
opacity: 0.6;
}